{% if partners %}
<div id="partners" class="partners">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Партнери</h2>
            </div>
        </div>
    </div>
    <div class="partners-list">
        {% for partner in partners %}
            <div class="partner">
            <div class="fp-img">
                <a href="{{ partner.link }}">
                    <picture>
                        <img src="{{ partner.img.url }}" class="webpexpress-processed" />
                    </picture>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}