{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{% trans "Main" %}{% endblock %} - Hustler</title>
    <link rel="stylesheet" href="{% static 'css/vars.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/cms-navigation-base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/cms-navigation.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/metismenujs.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/onoffcanvas.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/mm-onoffcanvas.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/anims.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    {% block styles %}{% endblock %}
    <script src="{% static 'js/script.min.js' %}"></script>
    <link rel="icon" href="{% static 'img/cropped-favicon-1-32x32.png' %}" sizes="32x32' %}" />
    <link rel="icon" href="{% static 'img/cropped-favicon-1-192x192.png' %}" sizes="192x192' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/cropped-favicon-1-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'img/cropped-favicon-1-270x270.png' %}" />
</head>
<body>
    <div class="onoffcanvas is-fixed is-left bg-dark text-white left-aside p-1" id="left-aside">
        <div class="d-flex p-4 justify-content-end">
            <a href="{% url 'pages:home' %}"
                ><img
                    src="{% static 'img/logo.svg' %}"
                    alt=""
            /></a>
            <a
                href="#left-aside"
                class="onoffcanvas-toggler is-animated"
                data-toggle="onoffcanvas"
                style="width: 24px; height: 24px; display: none"></a>
        </div>
        <ul class="metismenu left-menu" id="menu2">
            <li>
                <a href="{% url 'pages:home' %}#uslugi"
                    ><span
                        data-target="#left-aside"
                        data-toggle="onoffcanvas"
                        aria-expanded="false"
                        >{% trans "Services" %}</span
                    ></a
                >
            </li>
            <li>
                <a href="{% url 'cases:list' %}"{% if section == 'cases' %} class="active"{% endif %}
                    ><span
                        data-target="#left-aside"
                        data-toggle="onoffcanvas"
                        aria-expanded="false"
                        >{% trans "Cases" %}</span
                    ></a
                >
            </li>
            <li>
                <a href="{% url 'pages:home' %}#partners"
                    ><span
                        data-target="#left-aside"
                        data-toggle="onoffcanvas"
                        aria-expanded="false"
                        >{% trans "Partners" %}</span
                    ></a
                >
            </li>
            <li>
                <a href="{% url 'bloggers:list' %}"{% if section == 'bloggers' %} class="active"{% endif %}
                    ><span
                        data-target="#left-aside"
                        data-toggle="onoffcanvas"
                        aria-expanded="false"
                        >{% trans "Bloggers" %}</span
                    ></a
                >
            </li>
            <li>
                <a href="{% url 'news:list' %}"{% if section == 'blog' %} class="active"{% endif %}>
                    <span>{% trans "News" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'pages:home' %}#contacts"
                    ><span
                        data-target="#left-aside"
                        data-toggle="onoffcanvas"
                        aria-expanded="false"
                        >{% trans "Contacts" %}</span
                    ></a
                >
            </li>
        </ul>
    </div>
    <div id="header" class="menu">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-xl-5 logo-top">
                    <a href="{% url 'pages:home' %}">
                        <img width="300" height="36" src="{% static 'img/Logo_hustlerdigital-11.svg' %}"/>
                    </a>
                </div>
                <div class="col-1 col-md-1 col-lg-1 col-xl-6 menu-top">
                    <a href="{% url 'pages:home' %}#uslugi">{% trans "Services" %}</a>
                    <a href="{% url 'cases:list' %}"{% if section == 'cases' %} class="active"{% endif %}>{% trans "Cases" %}</a>
                    <a href="{% url 'pages:home' %}#partners">{% trans "Partners" %}</a>
                    <a href="{% url 'bloggers:list' %}"{% if section == 'bloggers' %} class="active"{% endif %}>{% trans "Bloggers" %}</a>
                    <a href="{% url 'news:list' %}"{% if section == 'blog' %} class="active"{% endif %}>{% trans "News" %}</a>
                    <a href="{% url 'pages:home' %}#contacts">{% trans "Contacts" %}</a>
                </div>
                <div class="col-3 col-md-2 col-lg-2 col-xl-1 lang">
                    <form action="{% url 'set_language' %}" method="post" class="language-form">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.code }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                    <a
                        href="#left-aside"
                        class="toggle-nav onoffcanvas-toggler is-animated navbg"
                        type="button"
                        data-toggle="onoffcanvas"></a>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/metismenujs.js' %}"></script>
    <script src="{% static 'js/onoffcanvas.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/mm-onoffcanvas.js' %}"></script>
    <script src="{% static 'js/jquery.scrollmagic.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        $(".slider-w-flip").slick({
            dots: false,
            arrows: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        dots: true,
                        arrows: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        centerMode: false
                    }
                }
            ]
        });

        $(".slider-blogs").slick({
            dots: false,
            arrows: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        dots: false,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        dots: false,
                        arrows: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        centerMode: false
                    }
                }
            ]
        });
    </script>

    <script>
        $(document).on("scroll", window, function () {
            var element = document.getElementById("header");
            if ($(window).scrollTop() > 250) {
                element.classList.add("scroll");
            } else {
                element.classList.remove("scroll");
            }
        });
    </script>

    <script>
        window.counter = function () {
            var span = this.querySelector("span");
            var current = parseInt(span.textContent);

            span.textContent = current + 1;
        };

        document.addEventListener("DOMContentLoaded", function () {
            ScrollTrigger.init();
        });
    </script>

    <script>
        $(".flip-container").click(function () {
            $(".flip-container").toggleClass("active");
        });

        function countTo(number, selector, before, after) {
            if (!selector) return;

            let from = 0;
            let to = number;
            let step = 1;
            let duration = 5;
            let interval = (duration / number) * 1000;

            if (from == to) {
                document.querySelector(selector).textContent =
                    before + from + after;
                return;
            }
            if (document.querySelector(selector)) {
                let counter = setInterval(function () {
                    from += step;
                    
                    document.querySelector(selector).textContent = before + from + after;
    
                    if (from == to) {
                        clearInterval(counter);
                    }
                }, interval);        
            }
        }
        countTo(10, ".num1", "", "+");
        countTo(28, ".num2", "", "");
        countTo(100, ".num3", ">", "M");
        countTo(120, ".num4", "", "+");
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>