{% load static %}

{% if cases %}
<div id="cases" class="case">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Кейси</h2>
                <p>
                    Тапніть по картці,<br />щоб побачити більше
                    інформації
                </p>
            </div>
        </div>
    </div>
    <div class="slider-w-flip">
        {% for case in cases %}
            <div class="slide-flip">
                <div class="flip-container">
                    <div class="hover panel">
                        <div class="front">
                            <div class="case-block">
                                <h3>{{ case.title }}</h3>
                                <div class="case-block-img">
                                    <picture>
                                        <img src="{{ case.img.url }}" class="webpexpress-processed" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="case-block">
                                <div class="logotopflip">
                                    <picture>
                                        <img src="{{ case.img.url }}" class="webpexpress-processed" />
                                    </picture>
                                </div>
                                <div class="caseb">
                                    <div class="casebleft">Бюджет</div>
                                    <div class="casebcenter"></div>
                                    <div class="casebright">{{ case.budget }}</div>
                                </div>
                                <div class="caseb">
                                    <div class="casebleft">Охоплення</div>
                                    <div class="casebcenter"></div>
                                    <div class="casebright">{{ case.area }}</div>
                                </div>
                                <div class="caseb">
                                    <div class="casebleft">Послуга</div>
                                    <div class="casebcenter"></div>
                                    <div class="casebright">
                                        <span>{{ case.service }}</span>
                                    </div>
                                </div>
                                <div class="caseb">
                                    <div class="casebleft">Гео</div>
                                    <div class="casebcenter"></div>
                                    <div class="casebright">{{ case.geo }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}