{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Cases' %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cases.css' %}">
{% endblock %}

{% block content %}
    <main id="main" class="cases">
        <div class="container">
            <div class="cases-slider">
                {% for case in cases %}
                    {% include 'cases/detail.html' with post=case %}
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="extra-footer">
        {% include 'template-parts/footer.html' %}
    </footer>
{% endblock %}