{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}

{% block seo %}
    
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="{{ request.LANGUAGE_CODE }}" />
    <meta property="og:type" content="website" />
    {% if request.LANGUAGE_CODE == 'ru' %}
        <meta name="description" content="Hustler Digital — это идеальное combo из эффективных инструментов маркетинга, экспириенса и лидеров мнений." />
        <meta property="og:title" content="Главная - Hustler" />
        <meta property="og:description" content="Hustler Digital — это идеальное combo из эффективных инструментов маркетинга, экспириенса и лидеров мнений." />
    {% elif request.LANGUAGE_CODE == 'uk' %}
        <meta name="description" content="Hustler Digital — це ідеальне combo з ефективних інструментів маркетингу, експірієнс і лідерів думок." />
        <meta property="og:title" content="Головна - Hustler" />
        <meta property="og:description" content="Hustler Digital — це ідеальне combo з ефективних інструментів маркетингу, експірієнс і лідерів думок." />
    {% elif request.LANGUAGE_CODE == 'en' %}
        <meta name="description" content="Hustler Digital — is the perfect combo of effective marketing tools, experience and influencers." />
        <meta property="og:title" content="Home - Hustler" />
        <meta property="og:description" content="Hustler Digital — is the perfect combo of effective marketing tools, experience and influencers." />
    {% endif %}
    <meta property="og:url" content="http://hustlerdigital.pro/" />
    <meta property="og:site_name" content="Hustler" />
{% endblock %}

{% block content %}
    <div id="main" class="main">
        <video
            playsinline
            autoplay
            muted
            loop
            poster="{% static 'img/bg1.jpg' %}"
            id="bgvid">
            <source
                src="{% static 'video/retro.webm' %}"
                type="video/webm" />
            <source
                src="{% static 'video/retro.mp4' %}"
                type="video/mp4" />
        </video>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>
                        {% blocktrans %}
                            DON’T CHASE TRENDS.<br />
                            SET THEM.
                        {% endblocktrans %}
                    </h1>
                    <h2>
                        {% blocktrans %}
                            Online promotion services, development<br />
                            and implementation of an influence marketing strategy
                        {% endblocktrans %}
                    </h2>
                    <a class="btn btn-white" href="#contacts">{% trans "Contact us" %}</a>
                </div>
            </div>
            <div class="row numses">
                <div class="col-12 col-md-6 col-xl-3 col-lg-3">
                    <div class="nums num1">0+</div>
                    <p>{% trans "Global brands that cooperate with us" %}</p>
                </div>
                <div class="col-12 col-md-6 col-xl-3 col-lg-3">
                    <div class="nums num2">0</div>
                    <p>{% trans "Months — longest LTV" %}</p>
                </div>
                <div class="col-12 col-md-6 col-xl-3 col-lg-3">
                    <div class="nums num3">>0М</div>
                    <p>{% trans "Total coverage of the base of bloggers is above" %}</p>
                </div>
                <div class="col-12 col-md-6 col-xl-3 col-lg-3">
                    <div class="nums num4">0+</div>
                    <p>{% trans "Advertising campaigns launched this year" %}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="about-us" class="about_us">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                    <h2>{% trans "About" %}</h2>
                </div>
                <div class="col-12 col-md-12 col-xl-6 col-lg-6">
                    <div class="aub">
                        <div class="aub1">Hustler Digital</div>
                        <div class="aub2">
                            {% blocktrans %}
                                — is the perfect combo of effective marketing tools, experience and influencers.
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hustler">
        <div class="container">
            <div class="row">
                <div
                    class="col-12 col-md-12 col-lg-12 col-xl-6 orderhustler2">
                    {% blocktrans %}
                        <h2>Meet <br> HUSTLER</h2>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <p>In 2021, several managers and media buyers launched a content creation and promotion machine. This is how HUSTLER appeared &#8211; a creative full-stack promotion agency.</p>
                        <p>In recent years, we have organized more than 1,000 integrations with bloggers of various levels, implemented about 100 advertising campaigns, and managed to cooperate with 30+ gambling projects, including world-famous brands.</p>
                        <p>Working with us, you get not just a contractor in the form of an agency, but a dedicated in-house outsourcing team with a number of advantages.</p>
                        <p>The main directions of the agency are influence marketing, branding, traffic arbitrage, content production and promotion.</p>
                    {% endblocktrans %}
                </div>
                <div
                    class="col-12 col-md-8 col-lg-12 col-xl-6 orderhustler1">
                    <picture
                        ><source
                            srcset="{% static 'img/hustler.png.webp' %}"
                            type="image/webp" />
                        <img
                            class="hustler1 webpexpress-processed"
                            src="{% static 'img/hustler.png' %}"
                            alt=""
                    /></picture>
                    <img
                        class="hustler2"
                        src="{% static 'img/hustler2.png' %}"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
    <div id="uslugi" class="services">
        <img
            class="serv1"
            src="{% static 'img/uslugi1.svg' %}"
            alt="" />
        <img
            class="serv2"
            src="{% static 'img/uslugi2.svg' %}"
            alt="" />
        <img
            class="serv3"
            src="{% static 'img/uslugi3.svg' %}"
            alt="" />
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <h2>{% trans "Agency services" %}</h2>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga1.svg' %}"
                                    alt="" />
                            </div>
                            <h3>
                                {% trans "INFLUENCER MARKETING EXCLUSIVE INFLUENCER" %}
                            </h3>
                        </div>
                        {% blocktrans %}
                            <p>Advertising integrations for bloggers and influencers</p>
                            <p>Organization of online broadcasts with top streamers</p>
                            <p>Attracting players in the field of gambling / betting</p>
                            <p>Development, creation and promotion of online and offline events with opinion leaders</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga2.svg' %}"
                                    alt="" />
                            </div>
                            <h3>
                                {% trans "DIGITAL CREATIVE & PRODUCTION" %}
                            </h3>
                        </div>
                        {% blocktrans %}
                            <p>Creation and maintenance of corporate channels YouTube / Twitch</p>
                            <p>Development of branding and corporate style</p>
                            <p>Creation of creative promotional materials</p>
                            <p>Creation of image videos</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga3.svg' %}"
                                    alt="" />
                            </div>
                            <h3>{% trans "DEVELOPMENT OF ADVERTISING STRATEGIES" %}</h3>
                        </div>
                        {% blocktrans %}
                            <p>Development of an advertising strategy from scratch for different business tasks</p>
                            <p>Increasing brand awareness and loyalty in the market</p>
                            <p>Finding new and retaining old customers</p>
                            <p>Formation of positioning among the target audience</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga4.svg' %}"
                                    alt="" />
                            </div>
                            <h3>{% trans "RESEARCH & DEVELOPMENT" %}</h3>
                        </div>
                        {% blocktrans %}
                            <p>Overall evaluation and analysis of the project</p>
                            <p>Exploring gaps and untapped opportunities</p>
                            <p>Selection and implementation of ready-made solutions for various business tasks</p>
                            <p>Recommendations for further development in existing and potential markets</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga5.svg' %}"
                                    alt="" />
                            </div>
                            <h3>{% trans "MEDIA BUYING" %}</h3>
                        </div>
                        {% blocktrans %}
                            <p>Placement of advertising on sites with maximum coverage of the target audience</p>
                            <p>Media planning, clear and fast procurement process, market analysis and negotiations</p>
                            <p>Clear analytics, the ability to customize parameters, optimization</p>
                            <p>Working with unique sites &#8211; Pornhub, OnlyFans, TikTok</p>
                            <p>Preparation of materials in accordance with the technical requirements of publishers</p>
                            <p>Summing up, reporting, performance analysis</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga6.svg' %}"
                                    alt="" />
                            </div>
                            <h3>{% trans "SOCIAL MEDIA MARKETING" %}</h3>
                        </div>
                        {% blocktrans %}
                            <p>Creation and maintenance of leading social networks on behalf of the brand</p>
                            <p>Creating an image, increasing loyalty and brand awareness</p>
                            <p>Attracting and monetizing the target audience</p>
                            <p>Development, creation and promotion of quality content</p>
                            <p>Holding draws, competitions, broadcasts</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga7.svg' %}"
                                    alt="" />
                            </div>
                            <h3>{% trans "TARGETED ADVERTISING" %}</h3>
                        </div>
                        {% blocktrans %}
                            <p>Formation of CA</p>
                            <p>Competitor analysis</p>
                            <p>A/B testing</p>
                            <p>Creation, launch and scaling of RK</p>
                            <p>Analytical analysis and reporting</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga8.svg' %}"
                                    alt="" />
                            </div>
                            <h3>
                                {% trans "CREATION AND PROMOTION OF DIGITAL CONTENT" %}
                            </h3>
                        </div>
                        {% blocktrans %}
                            <p>Creation and promotion of high-quality digital content</p>
                            <p>Creation of educational, entertaining, viral content</p>
                            <p>Attracting the attention of the audience to the brand</p>
                            <p>Inbound marketing as an affordable replacement for intrusive advertising</p>
                            <p>Conquering the market with interesting and useful content</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga9.svg' %}"
                                    alt="" />
                            </div>
                            <h3>
                                {% trans "TRAFFIC ARBITRAGE" %}
                            </h3>
                        </div>
                        {% blocktrans %}
                            <p>Guaranteed attraction of high-quality traffic</p>
                            <p>Vertical: gambling, betting, dating, crypto, eSports</p>
                            <p>Source: Google, facebook, in-app</p>
                            <p>CPA, CPM, CPI work model</p>
                            <p>We work directly with advertisers, which gives us the best conditions on the market</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
                <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                    <div
                        class="services_block"
                        data-scroll="toggle(.fromLeftIn, .fromLeftOut) addHeight">
                        <div class="topborder">
                            <img
                                src="{% static 'img/services-img-top.png' %}"
                                alt="" />
                        </div>
                        <div class="zsb">
                            <div>
                                <img
                                    src="{% static 'img/usluga10.svg' %}"
                                    alt="" />
                            </div>
                            <h3>
                                {% trans "Affiliate Marketing" %}
                            </h3>
                        </div>
                        {% blocktrans %}
                            <p>Search and maintenance of new Internet partners</p>
                            <p>Negotiating with existing partners</p>
                            <p>Creation of creatives</p>
                            <p>Analysis of competitors and trends</p>
                            <p>Creation, filling and maintenance of social networks</p>
                            <p>Analytics and reporting</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <!-- USL -->
            </div>
        </div>
    </div>
    {% include 'partners/list.html' %}
    <div id="contacts" class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <h2>{% trans "Contacts" %}</h2>
                    <h3>{% trans "Fill out the form or write to us" %}</h3>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <form id="contact-form" action="{% url 'pages:home' %}" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                <div class="form_left">
                                    {{ contact_form.name }}
                                    {{ contact_form.email }}
                                    {{ contact_form.link }}
                                    {{ contact_form.budget }}
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                <div class="form_right">
                                    {{ contact_form.message }}
                                    {% csrf_token %}
                                    <button type="submit" data-loading="{% trans 'Sending...' %}" data-success="{% trans 'Sent!' %}" data-error="{% trans 'Error' %}">
                                        {% trans "Send" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'template-parts/footer.html' %}
    </div>
{% endblock %}
